<%= render "shared/navbar" %>

<%= render "shared/breadcrumb", breadcrumb_title: "Edit Profile" %>

<section class="auth-section">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-3">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, class: "form-control"%>
    </div>

    <div class="mb-3">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, class: "form-control"%>
    </div>

    <div class="mb-3">
      <%= f.label :bio %><br />
      <%= f.text_area :bio, rows: 5, class: "form-control"%>
    </div>

    <div class="mb-3">
      <%= f.label :phone %><br />
      <%= f.text_field :phone, class: "form-control"%>
    </div>

    <div class="mb-3">
      <%= f.label :date_of_birth %><br />
      <%= f.date_field :date_of_birth, class: "form-control"%>
    </div>

    <div class="mb-3">
    <%= f.label :gender %><br />
    <%= f.label :gender, "Male" %>
    <%= f.radio_button :gender, "male", checked: true %>
    <%= f.label :gender, "Female" %>
    <%= f.radio_button :gender, "female" %>
  </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="mb-3">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= link_to "Back", :back %>
</section>

<%= render "shared/footer" %>