<header class="header header-page">
<div class="header-fixed">
<nav class="navbar navbar-expand-lg header-nav scroll-sticky">
<div class="container">
  <h1 id="medressa-logo"><%= link_to "Med'ressa", root_path %></h1>
</div>
<div class="main-menu-wrapper">
<div class="menu-header">
<a id="menu_close" class="menu-close" href="javascript:void(0);">
<i class="fas fa-times"></i>
</a>
</div>
</li>
</div>

<ul class="nav header-navbar-rht">
  <li class="nav-item user-nav">
    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
    <span class="user-img">
    <%= image_tag current_user.avatar, alt: "User Image", class: "avatar-img rounded-circle" %>
    <span class="status online"></span>
    </span>
    </a>
    <div class="users dropdown-menu dropdown-menu-right" data-popper-placement="bottom-end">
      <div class="user-header">
        <div class="avatar avatar-sm">
          <%= image_tag current_user.avatar, alt: "User Image", class: "avatar-img rounded-circle" %>
        </div>
        <div class="user-text">
          <h6><%= current_user.email %></h6>
          <p class="text-muted mb-0">Instructor</p>
        </div>
      </div>
      <%= link_to teacher_dashboard_path, class: "nav-link" do %>
        Dashboard
      <% end %>
      <%= link_to edit_user_registration_path, class: "nav-link" do %>
        Edit Profile
      <% end %>
      <div class="profile-logout-btn">
        <%= button_to destroy_user_session_path, class: "btn btn-danger", method: :delete do %>
          Log out
        <% end %>
      </div>
    </div>
  </li>
</ul>
</div>
</nav>
</div>
</header>