<%= render "shared/navbar" %>

<%= render "shared/breadcrumb", breadcrumb_title: "My Profile" %>

<%= render "shared/profile_sidebar" %>

<div class="col-xl-9 col-lg-9">
<div class="settings-widget card-details mb-0">
<div class="settings-menu p-0">
<div class="profile-heading">
<h3>My Profile</h3>
</div>
<div class="checkout-form personal-address">
<div class="row">
<div class="col-sm-6">
<div class="contact-info">
<h6>First Name</h6>
<p><%= capitalize_string(current_user.first_name) %></p>
</div>
</div>
<div class="col-sm-6">
  <div class="contact-info">
  <h6>Last Name</h6>
  <p><%= capitalize_string(current_user.last_name) %></p>
  </div>
</div>
<div class="col-sm-6">
  <div class="contact-info">
  <h6>School</h6>
  <p><%= capitalize_string(current_user.school.name) %></p>
  </div>
</div>
<div class="col-sm-6">
  <div class="contact-info">
  <h6>Registration Date</h6>
  <p><%= current_user.created_at %></p>
  </div>
</div>
<div class="col-sm-6">
  <div class="contact-info">
  <h6>Date of birth</h6>
  <p><%= current_user.date_of_birth %></p>
  </div>
</div>
<div class="col-sm-6">
<div class="contact-info">
<h6>Phone Number</h6>
<p><%= current_user.phone %></p>
</div>
</div>
<div class="col-sm-12">
<div class="contact-info mb-0">
<h6>Bio</h6>
<p><%= current_user.bio %></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>

<%= render "shared/footer" %>