<div class="main-wrapper">

<header class="header header-page">
<div class="header-fixed">
<nav class="navbar navbar-expand-lg header-nav scroll-sticky">
<div class="container ">
<a href="index.html" class="navbar-brand logo">
<img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
</a>
</div>
<div class="main-menu-wrapper">
<div class="menu-header">
<a href="index.html" class="menu-logo">
<img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
</a>
<a id="menu_close" class="menu-close" href="javascript:void(0);">
<i class="fas fa-times"></i>
</a>
</div>
</li>
</div>

<ul class="nav header-navbar-rht">
<li class="nav-item user-nav">
<a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
<span class="user-img">
<img src="assets/img/user/user-17.jpg" alt="Img">
<span class="status online"></span>
</span>
</a>
<div class="users dropdown-menu dropdown-menu-right" data-popper-placement="bottom-end">
<div class="user-header">
<div class="avatar avatar-sm">
<img src="assets/img/user/user-17.jpg" alt="User Image" class="avatar-img rounded-circle">
</div>
<div class="user-text">
<h6><%= current_user.email %></h6>
<p class="text-muted mb-0">Instructor</p>
</div>
</div>
<a class="dropdown-item" href="instructor-dashboard.html"><i class="feather-home me-1"></i> Dashboard</a>
<a class="dropdown-item" href="instructor-settings.html"><i class="feather-star me-1"></i> Edit Profile</a>
<a class="dropdown-item" href="index.html"><i class="feather-log-out me-1"></i> Logout</a>
</div>
</li>
</ul>
</div>
</nav>
</div>
</header>


<div class="breadcrumb-bar breadcrumb-bar-info">
<div class="container">
<div class="row">
<div class="col-md-12 col-12">
<div class="breadcrumb-list">
<h2 class="breadcrumb-title">Dashboard</h2>
<nav aria-label="breadcrumb" class="page-breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
</ol>
</nav>
</div>
</div>
</div>
</div>
</div>


<div class="page-content">
<div class="container">
<div class="row">

<div class="col-xl-3 col-lg-3 theiaStickySidebar">
<div class="settings-widget dash-profile">
<div class="settings-menu">
<div class="profile-bg">
<div class="profile-img">
<a href="instructor-profile.html"><img src="assets/img/user/user-17.jpg" alt="Img"></a>
</div>
</div>
<div class="profile-group">
<div class="profile-name text-center">
<h4><a href="instructor-profile.html"><%= current_user.email %></a></h4>
<p>Instructor</p>
<a href="add-course.html" class="add-course btn-primary">Add New Course</a>
</div>
</div>
</div>
</div>
<div class="settings-widget account-settings">
<div class="settings-menu">
<h3>Dashboard</h3>
<ul>
  <li class="nav-item">
    <%= link_to teacher_profile_path, class: "nav-link" do %>
      <i class="bi bi-person"></i>My Profile
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to teacher_course_path, class: "nav-link" do %>
      <i class="bi bi-sliders"></i>My Courses
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to teacher_assignment_path, class: "nav-link" do %>
      <i class="bi bi-list"></i>Assignments
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to teacher_quiz_path, class: "nav-link" do %>
      <i class="bi bi-question-circle"></i>Quizzes
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to teacher_announcement_path, class: "nav-link" do %>
      <i class="bi bi-question-circle"></i>Announcements
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to teacher_message_path, class: "nav-link" do %>
      <i class="bi bi-chat"></i>Messages
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to teacher_notification_path, class: "nav-link" do %>
      <i class="bi bi-bell"></i>Notifications
    <% end %>
  </li>
</ul>
<h3>Account Settings</h3>
<ul>
  <li class="nav-item">
    <a href="instructor-settings.html" class="nav-link ">
    <i class="bi bi-gear"></i>Settings
    </a>
  </li>
  <li class="nav-item">
  <a href="index.html" class="nav-link">
    <i class="bi bi-box-arrow-right"></i>Logout
  </a>
  </li>
</ul>
</div>
</div>
</div>


<div class="col-xl-9 col-lg-9">

<div class="row justify-content-center">
<div class="col-lg-4 col-md-6 d-flex">
<div class="card dash-info flex-fill">
<div class="card-body">
<h5>Total Courses</h5>
<h2>13</h2>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 d-flex">
<div class="card dash-info flex-fill">
<div class="card-body">
<h5>Active Courses</h5>
<h2>08</h2>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 d-flex">
<div class="card dash-info flex-fill">
<div class="card-body">
<h5>Total Students</h5>
<h2>5</h2>
</div>
</div>
</div>
</div>

<div class="instructor-course-table">
<div class="dashboard-title">
<h4>Recently Created Courses</h4>
</div>
<div class="table-responsive custom-table">

<table class="table table-nowrap mb-0">
<thead>
<tr>
<th>Courses</th>
<th>Enrolled</th>
<th>Status</th>
</tr>
</thead>
<tbody>
<tr>
<td>
<div class="table-course-detail">
<a href="course-details.html" class="course-table-img">
<span><img src="assets/img/instructor/instructor-table-01.jpg" alt="Img"></span>
Complete HTML, CSS and Javascript Course
</a>
</div>
</td>
<td>0</td>
<td>Published</td>
</tr>
<tr>
<td>
<div class="table-course-detail">
<a href="course-details.html" class="course-table-img">
<span><img src="assets/img/instructor/instructor-table-05.jpg" alt="Img"></span>
Complete Course on Fullstack Web Developer
</a>
</div>
</td>
<td>2</td>
<td>Published</td>
</tr>
<tr>
<td>
<div class="table-course-detail">
<a href="course-details.html" class="course-table-img">
<span><img src="assets/img/instructor/instructor-table-02.jpg" alt="Img"></span>
Data Science Fundamentals and Advanced Bootcamp
</a>
</div>
</td>
<td>2</td>
<td>Published</td>
</tr>
<tr>
<td>
<div class="table-course-detail">
<a href="course-details.html" class="course-table-img">
<span><img src="assets/img/instructor/instructor-table-03.jpg" alt="Img"></span>
Master Microservices with Spring Boot and Spring Cloud
</a>
</div>
</td>
<td>1</td>
<td>Published</td>
</tr>
<tr>
<td>
<div class="table-course-detail">
<a href="course-details.html" class="course-table-img">
<span><img src="assets/img/instructor/instructor-table-04.jpg" alt="Img"></span>
Information About UI/UX Design Degree
</a>
</div>
</td>
<td>3</td>
<td>Published</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="dashboard-title">
<h4>Recently Enrolled Courses</h4>
</div>
<div class="row">

<div class="col-xxl-4 col-md-6 d-flex">
<div class="course-box flex-fill">
<div class="product">
<div class="product-img">
<a href="course-details.html">
<img class="img-fluid" alt="Img" src="assets/img/course/course-02.jpg">
</a>
<div class="price">
<h3>$80 <span>$99.00</span></h3>
</div>
</div>
<div class="product-content">
<div class="course-group d-flex">
<div class="course-group-img d-flex">
<a href="instructor-profile.html"><img src="assets/img/user/user2.jpg" alt="Img" class="img-fluid"></a>
<div class="course-name">
<h4><a href="instructor-profile.html">Cooper</a></h4>
<p>Instructor</p>
</div>
</div>
<div class="course-share d-flex align-items-center justify-content-center">
<a href="#"><i class="fa-regular fa-heart"></i></a>
</div>
</div>
<h3 class="title instructor-text"><a href="course-details.html">Wordpress for Beginners - Master Wordpress Quickly</a></h3>
<div class="course-info d-flex align-items-center">
<div class="rating-img d-flex align-items-center">
<img src="assets/img/icon/icon-01.svg" alt="Img">
<p>12+ Lesson</p>
</div>
<div class="course-view d-flex align-items-center">
<img src="assets/img/icon/icon-02.svg" alt="Img">
<p>70hr 30min</p>
</div>
</div>
<div class="rating mb-0">
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<span class="d-inline-block average-rating"><span>5.0</span> (20)</span>
</div>
</div>
</div>
</div>
</div>


<div class="col-xxl-4 col-md-6 d-flex">
<div class="course-box flex-fill">
<div class="product">
<div class="product-img">
<a href="course-details.html">
<img class="img-fluid" alt="Img" src="assets/img/course/course-03.jpg">
</a>
<div class="price combo">
<h3>FREE</h3>
</div>
</div>
<div class="product-content">
<div class="course-group d-flex">
<div class="course-group-img d-flex">
<a href="instructor-profile.html"><img src="assets/img/user/user5.jpg" alt="Img" class="img-fluid"></a>
<div class="course-name">
<h4><a href="instructor-profile.html">Jenny</a></h4>
<p>Instructor</p>
</div>
</div>
<div class="course-share d-flex align-items-center justify-content-center">
<a href="#"><i class="fa-regular fa-heart"></i></a>
</div>
</div>
<h3 class="title instructor-text"><a href="course-details.html">Sketch from A to Z (2022): Become an app designer</a></h3>
<div class="course-info d-flex align-items-center">
<div class="rating-img d-flex align-items-center">
<img src="assets/img/icon/icon-01.svg" alt="Img">
<p>10+ Lesson</p>
</div>
<div class="course-view d-flex align-items-center">
<img src="assets/img/icon/icon-02.svg" alt="Img">
<p>40hr 10min</p>
</div>
</div>
<div class="rating mb-0">
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<span class="d-inline-block average-rating"><span>3.0</span> (18)</span>
</div>
</div>
</div>
</div>
</div>


<div class="col-xxl-4 col-md-6 d-flex">
<div class="course-box flex-fill">
<div class="product">
<div class="product-img">
<a href="course-details.html">
<img class="img-fluid" alt="Img" src="assets/img/course/course-04.jpg">
</a>
<div class="price">
<h3>$65 <span>$70.00</span></h3>
</div>
</div>
<div class="product-content">
<div class="course-group d-flex">
<div class="course-group-img d-flex">
<a href="instructor-profile.html"><img src="assets/img/user/user4.jpg" alt="Img" class="img-fluid"></a>
<div class="course-name">
<h4><a href="instructor-profile.html">Nicole Brown</a></h4>
<p>Instructor</p>
</div>
</div>
<div class="course-share d-flex align-items-center justify-content-center">
<a href="#"><i class="fa-regular fa-heart"></i></a>
</div>
</div>
<h3 class="title instructor-text"><a href="course-details.html">Learn Angular Fundamentals From beginning to advance lavel</a></h3>
<div class="course-info d-flex align-items-center">
<div class="rating-img d-flex align-items-center">
<img src="assets/img/icon/icon-01.svg" alt="Img">
<p>15+ Lesson</p>
</div>
<div class="course-view d-flex align-items-center">
<img src="assets/img/icon/icon-02.svg" alt="Img">
<p>80hr 40min</p>
</div>
</div>
<div class="rating mb-0">
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star"></i>
<span class="d-inline-block average-rating"><span>4.0</span> (10)</span>
</div>
</div>
</div>
</div>
</div>


<div class="col-xxl-4 col-md-6 d-flex">
<div class="course-box flex-fill">
<div class="product">
<div class="product-img">
<a href="course-details.html">
<img class="img-fluid" alt="Img" src="assets/img/course/course-05.jpg">
</a>
<div class="price combo">
<h3>FREE</h3>
</div>
</div>
<div class="product-content">
<div class="course-group d-flex">
<div class="course-group-img d-flex">
<a href="instructor-profile.html"><img src="assets/img/user/user3.jpg" alt="Img" class="img-fluid"></a>
<div class="course-name">
<h4><a href="instructor-profile.html">John Smith</a></h4>
<p>Instructor</p>
</div>
</div>
<div class="course-share d-flex align-items-center justify-content-center">
<a href="#"><i class="fa-regular fa-heart"></i></a>
</div>
</div>
<h3 class="title instructor-text"><a href="course-details.html">Build Responsive Real World Websites with Crash Course</a></h3>
<div class="course-info d-flex align-items-center">
<div class="rating-img d-flex align-items-center">
<img src="assets/img/icon/icon-01.svg" alt="Img">
<p>12+ Lesson</p>
</div>
<div class="course-view d-flex align-items-center">
<img src="assets/img/icon/icon-02.svg" alt="Img">
<p>70hr 30min</p>
</div>
</div>
<div class="rating mb-0">
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star"></i>
<span class="d-inline-block average-rating"><span>4.0</span> (15)</span>
</div>
</div>
</div>
</div>
</div>


<div class="col-xxl-4 col-md-6 d-flex">
<div class="course-box flex-fill">
<div class="product">
<div class="product-img">
<a href="course-details.html">
<img class="img-fluid" alt="Img" src="assets/img/course/course-07.jpg">
</a>
<div class="price">
<h3>$70 <span>$80.00</span></h3>
</div>
</div>
<div class="product-content">
<div class="course-group d-flex">
<div class="course-group-img d-flex">
<a href="instructor-profile.html"><img src="assets/img/user/user6.jpg" alt="Img" class="img-fluid"></a>
<div class="course-name">
<h4><a href="instructor-profile.html">Stella Johnson</a></h4>
<p>Instructor</p>
</div>
</div>
<div class="course-share d-flex align-items-center justify-content-center">
<a href="#"><i class="fa-regular fa-heart"></i></a>
</div>
</div>
<h3 class="title instructor-text"><a href="course-details.html">Learn JavaScript and Express to become a Expert</a></h3>
<div class="course-info d-flex align-items-center">
<div class="rating-img d-flex align-items-center">
<img src="assets/img/icon/icon-01.svg" alt="Img">
<p>15+ Lesson</p>
</div>
<div class="course-view d-flex align-items-center">
<img src="assets/img/icon/icon-02.svg" alt="Img">
<p>70hr 30min</p>
</div>
</div>
<div class="rating mb-0">
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star"></i>
<span class="d-inline-block average-rating"><span>4.6</span> (15)</span>
</div>
</div>
</div>
</div>
</div>


<div class="col-xxl-4 col-md-6 d-flex">
<div class="course-box flex-fill">
<div class="product">
<div class="product-img">
<a href="course-details.html">
<img class="img-fluid" alt="Img" src="assets/img/course/course-08.jpg">
</a>
<div class="price combo">
<h3>FREE</h3>
</div>
</div>
<div class="product-content">
<div class="course-group d-flex">
<div class="course-group-img d-flex">
<a href="instructor-profile.html"><img src="assets/img/user/user1.jpg" alt="Img" class="img-fluid"></a>
<div class="course-name">
<h4><a href="instructor-profile.html">Nicole Brown</a></h4>
<p>Instructor</p>
</div>
</div>
<div class="course-share d-flex align-items-center justify-content-center">
<a href="#"><i class="fa-regular fa-heart"></i></a>
</div>
</div>
<h3 class="title instructor-text"><a href="course-details.html">Introduction to Programming- Python & Java</a></h3>
<div class="course-info d-flex align-items-center">
<div class="rating-img d-flex align-items-center">
<img src="assets/img/icon/icon-01.svg" alt="Img">
<p>10+ Lesson</p>
</div>
<div class="course-view d-flex align-items-center">
<img src="assets/img/icon/icon-02.svg" alt="Img">
<p>70hr 30min</p>
</div>
</div>
<div class="rating mb-0">
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<i class="fas fa-star filled"></i>
<span class="d-inline-block average-rating"><span>5.0</span> (13)</span>
</div>
</div>
</div>
</div>
</div>

</div>
<div class="dash-pagination">
<div class="row align-items-center">
<div class="col-6">
<p>Page 1 of 2</p>
</div>
<div class="col-6">
<ul class="pagination">
<li class="active">
<a href="#">1</a>
</li>
<li>
<a href="#">2</a>
</li>
<li>
<a href="#"><i class="bx bx-chevron-right"></i></a>
</li>
</ul>
</div>
</div>
</div>
</div>

</div>
</div>
</div>

<%= render "layouts/footer" %>

</div>


<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.7.1.min.js" type="70d3aaf03a5e70a48ec01130-text/javascript"></script>

<script src="assets/js/bootstrap.bundle.min.js" type="70d3aaf03a5e70a48ec01130-text/javascript"></script>

<script src="assets/plugins/theia-sticky-sidebar/ResizeSensor.js" type="70d3aaf03a5e70a48ec01130-text/javascript"></script>
<script src="assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js" type="70d3aaf03a5e70a48ec01130-text/javascript"></script>

<script src="assets/js/script.js" type="70d3aaf03a5e70a48ec01130-text/javascript"></script>
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="70d3aaf03a5e70a48ec01130-|49" defer></script></body>