<%= render "shared/navbar" %>

<%= render "shared/breadcrumb", breadcrumb_title: "My Dashboard" %>

<%= render "shared/profile_sidebar" %>


<div class="col-xl-9 col-lg-9">
<div class="settings-widget card-info">
<div class="settings-menu p-0">
<div class="profile-heading">
<h3>Assigned Courses</h3>
</div>
<div class="checkout-form pb-0">
<div class="wishlist-tab">
<ul class="nav">
<li class="nav-item">
  <a href="javascript:void(0);" class="active" data-bs-toggle="tab" data-bs-target="#enroll-courses">All Courses (<%= @teacher_courses.count %>)</a>
</li>
</ul>
</div>
<div class="tab-content">
<div class="tab-pane fade show active" id="enroll-courses">
<div class="row">

<% @teacher_courses.each do |course| %>
  <%= link_to  do %>
    <%= render "shared/course_card", course: course %>
  <% end %>
<% end %>

</div>
</div>
</div>
</div>
</div>
</div>

<div class="dash-pagination">
<div class="row align-items-center">
<div class="col-6">
<p>Page 1 of 2</p>
</div>
<div class="col-6">
<ul class="pagination">
<li class="active">
<a href="#">1</a>
</li>
<li>
<a href="#">2</a>
</li>
<li>
<a href="#"><i class="bi bi-chevron-right"></i></a>
</li>
</ul>
</div>
</div>
</div>
</div>

</div>
</div>
</div>


<%= render "shared/footer" %>

</div>


<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.7.1.min.js" type="90f5b2c759f2a0aa079fdcb5-text/javascript"></script>

<script src="assets/js/bootstrap.bundle.min.js" type="90f5b2c759f2a0aa079fdcb5-text/javascript"></script>

<script src="assets/plugins/theia-sticky-sidebar/ResizeSensor.js" type="90f5b2c759f2a0aa079fdcb5-text/javascript"></script>
<script src="assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js" type="90f5b2c759f2a0aa079fdcb5-text/javascript"></script>

<script src="assets/js/script.js" type="90f5b2c759f2a0aa079fdcb5-text/javascript"></script>
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="90f5b2c759f2a0aa079fdcb5-|49" defer></script>